<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="R_Master" value=""/>
    <add key="R_Master_B" value=""/>
    <add key="C_Master" value=""/>
    <add key="C_Master_B" value=""/>
    <add key="T_Master" value=""/>
    <add key="T_Master_B" value=""/>
  </appSettings>  
</configuration>